

#container {
	
	 
	width:640px;  
	height:640px
	text-align: center;
	margin:10px auto;  
	 
} 

.grid {
	background-color:white; 
	height:40px; 
	width:40px; 
	float: left; 
	margin:0px;  
	outline: none;
	

	} 


h1 {
	text-align:center; 

}

body {
	background-color:rgb(64,224,208); 
}



#reset{
	padding:15px; 
	position: relative; 
	left:715px;  
	background-color:#73716D; 
	color:white; 
 
	
}
